.container {
  max-width: 900px;
  margin: 2em auto 10em;
}

.main-title {
  text-align: center;
  margin: 0 0 16px !important;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.test-description {
  margin-bottom: 3em;
  margin-left: 0.7em;
  text-align: center;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.divider {
  margin: 1em 0 !important;
}

.playlist-card {
  margin-top: 1em;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

p {
  font-family: Lato;
}

.blocksWrapper {
  margin-top: 1em;
}
